header{padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    text-decoration: none;
    color: purple;
    font-size: 50px;
}
.theme-toggle{
    width: 70px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 999px;
    background: #000;
    position: relative;
    cursor: pointer;
    padding: 0;

    align-items: center;
}
header input{
    padding: 8px 12px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid gray;

}
