.footer {
    background-color: #f5f5f5;
    color:black;
    margin-top: 20px;
    font-size: 16px;

}

.footer-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    padding:  10px;
}

.footer-group h3{
    font-weight: bold;
}


@media (min-width: 768px) {
    .footer {
        display: grid;
        background-color: #f5f5f5;
        color: black;
        margin-top: 50px;
        font-size: 20px;
    }

    .footer-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        padding: 40px 20px;
    }

    .footer-group h3{
        font-weight: bold;
    }
    .footer-group p {
        max-width: 300px;
    }
}
